{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area jarallax" style="background-image:url({% static 'assets/img/bg/1.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner">
                        <h1 class="page-title">About Us</h1>
                        <ul class="page-list">
                            <li><a href="index-2.html">Home</a></li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="intro-area pd-top-108">
        <div class="container">
            <div class="section-title text-lg-center text-left">
                <h2 class="title"><span>Why Choose a Traveling </span>with Reef Tours</h2>
                <p>Why is Reef Tours & Travel considered as an exciting Tour operating company to work with, in Zanzibar right now? By a cheerfully relentless dedication to service and innovation… one of the reasons why Travel+Leisure says we treat our guests like a well-loved family. Those familial values inspire our team to be more creative every day.</p>
            </div>
        </div>
    </div>
    <div class="about-section pd-top-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 align-self-center">
                    <div class="section-title mb-lg-0">
                        <h2 class="title">Lets Go Travel <br> with Us</h2>
                        <p>We're much more than tours and excursions; at Reef Tours & Travel, we take you beyond the resort and into the heart of the island where setting sail, grabbing the reins and tasting rich flavors are the every day for us that become the lasting memories for you.
We offer a personal tour setting to you. As your private tour operator, we can adjust your tour schedule, duration and activities to your needs.
</p>
<p>At Reef Tours & Travel, our people are our promise, and we bring the warmth of the islands to all that we do. We are an independent operator of authentic, curated excursions and experiences in Tanzania. Our amazing company includes a dedicated team of multi-language private tour guides, sea-mates, adventure-seekers, and experiential-masters who spotlight only the best-of-the-best expeditions and destinations for everyone according to the resort/hotel they are staying. Operating in 9 destination – Zanzibar, Dar es Salaam, Selous National Park, Serengeti National Park, Ngorongoro Conservation Area, Manyara National Park, Tarangire National Park, Mount Kilimanjaro, and Mikumi National Park; we know our country inside and out, and it's our privilege to share it with you.</p>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2">
                    <div class="thumb about-section-right-thumb">
                        <img src="{% static 'assets/img/others/9.png' %}" alt="img">
                        <img class="about-absolute-thumb" src="{% static 'assets/img/others/10.png' %}" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="TA_selfserveprop244" class="TA_selfserveprop"><ul id="6Y7Nwr" class="TA_links yIqxdMEE"><li id="AMwkz4ge1" class="2TzP5tor"><a target="_blank" href="https://www.tripadvisor.com/Attraction_Review-g482884-d16721951-Reviews-Reef_Tours_Travel-Zanzibar_Island_Zanzibar_Archipelago.html"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a></li></ul></div><script async src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=244&amp;locationId=16721951&amp;lang=en_US&amp;rating=false&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=false&amp;border=true&amp;display_version=2" data-loadtrk onload="this.loadtrk=true"></script>
    </div>
{% endblock  %}