{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb-area breadcrumb-style-6 margin-bottom-100">
    <div class="breadcrumb-inner">
        <h1 class="page-title">About us</h1>
        <ul class="page-list">
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </div>
</div>

<section class="service-categories text-xs-center">
    <div class="container">
      <div class="row">
        
        <div class="col-md-3">
            <div class="card service-card card-inverse">
              <div class="card-block text-center">
                <i class="fa fa-heart"></i>
                <h6 class="card-title text-center">Client Love Us</h6>
              </div>
            </div>
        </div>   
        
        <div class="col-md-3">
            <div class="card service-card card-inverse">
              <div class="card-block text-center">
                <i class="fa fa-black-tie"></i>
                <h6 class="card-title">We are professional</h6>
              </div>
        </div>

        </div>   
            <div class="col-md-3">
            <div class="card service-card card-inverse">
              <div class="card-block text-center">
                <i class="fa fa-user"></i>
                <h6 class="card-title text-center">12 Years Experience</h6>
            </div>
            </div>
          </a>
        </div>   
        <div class="col-md-3">
            <div class="card service-card card-inverse">
              <div class="card-block text-center">
                <i class="fa fa-phone"></i>
                <h6 class="card-title text-center">Great 24/7 Support</h6>
              </div>
            </div>
        </div>
      </div><!--End Row-->
    </div>
</section>

<div class="explore-area">
    <div class="container-fluid">  
        <div class="row"> 
            <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                <div class="row">
                    <div class="explore_left">
                        <img src="{% static 'assets/img/about-page/explore.jpg' %}" alt="Explore">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-8 col-md-12 offset-xl-1">
                <div class="row">
                    <div class="explore_right">
                        <h1>Let's Travel Together</h1>
                        <p class="nohyphen">We're much more than tours and excursions; at Reef Tours & Travel, we take you beyond the resort and into the heart of the island where setting sail, grabbing the reins and tasting rich flavors are the every day for us that become the lasting memories for you. We offer a personal tour setting to you. As your private tour operator, we can adjust your tour schedule, duration and activities to your needs.
<br><br>
                            At Reef Tours & Travel, our people are our promise, and we bring the warmth of the islands to all that we do. We are an independent operator of authentic, curated excursions and experiences in Tanzania. Our amazing company includes a dedicated team of multi-language private tour guides, sea-mates, adventure-seekers, and experiential-masters who spotlight only the best-of-the-best expeditions and destinations for everyone according to the resort/hotel they are staying. Operating in 9 destination – Zanzibar, Dar es Salaam, Selous National Park, Serengeti National Park, Ngorongoro Conservation Area, Manyara National Park, Tarangire National Park, Mount Kilimanjaro, and Mikumi National Park; we know our country inside and out, and it's our privilege to share it with you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'pages/cta.html' %}

{% endblock content %}
    