<div class="home-about">
    <div class="floating-icon" id="service_info_item">
        <div class="floating-icon__is floating-icon-info">
            <i class="flaticon-phone"></i>
        </div>
        <!--floating-icon-is-->
        <div class="floating-icon__is floating-icon-location">
            <i class="flaticon-pin"></i>
        </div>
        <!--floating-icon-is-->
        <div class="floating-icon__is floating-icon-message">
            <i class="flaticon-mail"></i>
        </div>
        <!--floating-icon-is-->
    </div>
    <!--floating-icon-->

    <div class="container">
        <div class="row">
            <div class="about-title about-title-1">About us</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="about-image about-image-1">
                        <img src="{% static 'assets/img/home1/about.png' %}" alt="About">
                        <div class="overlay-content">
                            Your travel plans starts here… </br>Whether you’re looking for a luxury family
                            holiday, a
                            romantic holiday destination, a special place to celebrate your anniversary, multi
                            -centre
                            holidays or just a quiet spot for two; we can tailor-make your luxury holiday to be
                            exactly
                            how you’ve always imagined. Our primary mission is to create the tailor-made holiday
                            of your
                            dreams.
                        </div>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="home-about-slider">
                    <a href="{% url 'transfer' %}">
                        <div class="single-item">
                            <img src="{% static 'assets/img/home1/about-slider1.png' %}" alt="">
                            <h3>Ready to explore the island?</h3>
                        </div>
                    </a>
                    <a href="{% url 'groups' %}">
                        <div class="single-item">
                            <img src="{% static 'assets/img/home1/about-slider2.png' %}" alt="">
                            <h3>Worry Free</h3>
                        </div>
                    </a>
                    <a href="{% url 'transfer' %}">
                        <div class="single-item">
                            <img src="{% static 'assets/img/home1/about-slider3.png' %}" alt="">
                            <h3>Personalized </br>service </h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="ceramic animated slideRotateFromRight">Ceramic Speed</div> -->
</div>