{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="breadcrumb-area breadcrumb-style-6 margin-bottom-100">
    <div class="breadcrumb-inner">
        <h1 class="page-title">Before Booking</h1>
        <ul class="page-list">
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="#">Before Booking</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <h2>Currency</h2>
    <p class="nohyphen">In East Africa, both local currencies, US Dollars and Euro are widely accepted. 
        The conversion rates for local currencies do however fluctuate quite regularly so if you plan on using local currencies in the countries you visit, 
        please check the exchange rate before you depart on tour. An example of a website that you can use to check a 
        currency against your own is <a href="https://www.xe.com/">www.xe.com</a></p>

    <h2>Cash</h2>
    <p class="nohyphen">If you are carrying US dollars, always make sure that they have been printed at least after 2009 and if possible, request that your bank provides you with notes that are not torn or severely creased as you may find that the bills will not be accepted if they are not in a good condition.
        Request that your bank provides you with a range of bills so that you can use the smaller ones for tipping and the larger ones for settling bills if required.
        Carry your cash in a flat money belt on your body however always keep a small amount in a more easily accessible place so that you can access it easily if required.
        </p>

    <h2>ATM / Debit Cards</h2>
    <p class="nohyphen">ATM cards are a good way to withdraw local currency on arrival in a new country. This may not always be possible but it is an option in most cases. Cards should have a chip and pin. The amount that you withdraw depends on how long you will be in the country for and what you plan to spend your money on while you’re there.</p>

    <h2>What to pack</h2>
    <p class="nohyphen">Your luggage is limited to one backpack and one daypack weighing no more than 20kg. 
         As a general rule, if you cannot lift your own luggage, you’ve got too much stuff!  Most people make the mistake 
         of bringing too many clothes on tour, less is more in this instance.</p>

    <h2>VISA</h2>
    <p class="nohyphen">
        As visa requirements vary considerably depending on your nationality, please contact the various embassies or a visa service agency to re-check visa requirements at least four weeks prior to departing for your tour. Please note that visas are the responsibility of the traveler and that Reef Tours & Travel will not be held responsible for clients being denied entry should they not be in the possession of the relevant visas. <br><br>
All travelers must be in possession of a valid onward/return air ticket or proof of other means of transport enabling the traveler to leave the country in which your adventure tour terminates. Alternatively, you must have proof of sufficient funds (e.g. credit card) enabling you to purchase an air ticket to leave the country. 
<blockquote class="nohyphen">In doubt whether you require a visa or just need assistance?</blockquote>
    </p>
    <p>Contact the embassy in your home country or contact: <a href="https://immigration.go.tz/index.php/en/">immigration</a></p>
<h2>Your Passport</h2>
<p class="nohyphen">Your passport must have enough pages for all visas, at least 2 pages free for every country that you’ll be visiting.  Please ensure that you take your passport out from your hotel / backpackers safe the night before departure.  It is absolutely necessary that you make a copy of your passport and give it to your guides; we strongly recommend that you also leave a copy at home or with some friends.  Another good idea would be to take a photo of your passport, and the contents, and email it to yourself.  Please note that Tanzania insists having 2 clear pages available when you enter the country.  Keep this in mind if you are going to fly home from Tanzania after completing a tour to multiple African countries.
    Please ensure that your passport is valid for at least six months after your date of departure from Africa.
    You are personally responsible for ensuring that passports, visas, vaccination certificates and other travel documents are in order and for all costs relating thereto.
    </p>
</div>
{% endblock content %}
    