<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reeftours</title>
</head>

<body style="color:rgb(0, 0, 0)">
    
    <h3>Hello,</h3>

    <p>You have a new booking request.</p>

    <h4>Customer Details</h4>

    <p>Full name: {{fname}}</p>
    <p>Phone number: {{phone}}</p>
    <p>Email address: {{email}}</p>
    <p>Destination: {{trips}}</p>
    <p>Number of adults: {{adults}}</p>
    <p>Number of Children: {{children}}</p>
    <p>Number of Infants: {{infants}}</p>
    <p>Arrival Date: {{date}}</p>
    <p>Plan:</p>
    <pre style="white-space: pre-line">
        {{plan}}
    </pre>

    <br>
    <p>
        Sincerely,
        <br>
        Reeftours
    </p>   
</body>

</html>