{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="breadcrumb-area breadcrumb-style-6 margin-bottom-100">
    <div class="breadcrumb-inner">
        <h1 class="page-title">Booking  </h1>
        <ul class="page-list">
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="#">Booking </a></li>
        </ul>
    </div>
</div>

<div class="form-area padding-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 d-flex justify-content-center">
                <div class="form-group">
                    <form action="#" class="form">
                        <div class="form-field margin-top-30">
                            <label for="from">From</label>
                            <input type="date" placeholder="Enter Your Email Address" class="input-form"/>
                        </div>

                        <div class="form-field margin-top-30">
                            <label for="to">To</label>
                            <input type="date" placeholder="Enter Your Email Address" class="input-form"/>
                        </div>
                        <div class="form-field margin-top-30">
                            <select class="select-form country_select">
                                <option value="all" selected>Select Trip</option>
                                <option value="stone">Stone Town</option>
                                <option value="prison">Prison Island</option>
                                <option value="safari">Johazi Forest</option>
                                <option value="safari">Dolphin Tour</option>
                                <option value="safari">Spice Tour</option>
                                <option value="safari">Dhow Sunset Cruise</option>
                                <option value="safari">Mnemba Island</option>
                            </select>
                        </div>
                        <input type="submit" value="Book Now" class="btn btn-element btn-lg btn-active">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    