{% extends 'pages/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="breadcrumb-area breadcrumb-style-6 margin-bottom-100">
    <div class="breadcrumb-inner">
        <h1 class="page-title">Booking  </h1>
        <ul class="page-list">
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="#">Booking </a></li>
        </ul>
    </div>
</div>

<div class="form-area padding-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 d-flex justify-content-center">
                <div class="form-group">
                    <form action="" class="form">
                        {{form | crispy}}
                    </form>
                </div>                
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    