{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="trails-breadcrumb">
    <div class="breadcrumb-contact"></div>
    <div class="breadcrumb-style-4 margin-top-30">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Contact us</h1>
            <ul class="page-list">
                <li><a href="/">Home</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-left">
                    <h3>Every moment of travel is important to us.</h3>
                    <div class="info margin-top-50">
                        <h3>Address</h3>
                        <span>Muzammil centre,Mlandege-Zanzibar</span>
                    </div>
                    <div class="info margin-top-50">
                        <h3>Online Service</h3>
                        <a href="#">www.reeftours.co.tz</a><br>
                        <a href="mailto:info@reeftours.co.tz">info@reeftours.co.tz</a><br>
                        <a href="tel:+255 785 440 333">+255 785 440 333</a><br>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-right margin-top-90">
                    <div class="contact-title">
                        Send Us a Message
                    </div>
                    <div class="form-group">
                        <form action="#" class="form">
                            <div class="form-field margin-top-55 margin-bottom-55">
                                <label for="name">Full Name</label>
                                <input id="name" type="text" placeholder="Enter your full name" class="input-form">
                            </div>
                            <div class="form-field margin-top-55 margin-bottom-55">
                                <label for="email">Email</label>
                                <input id="email" type="email" placeholder="Enter your email" class="input-form">
                            </div>
                            <div class="form-field margin-top-55 margin-bottom-55">
                                <label for="thought">Messsage</label>
                                <textarea id="thought" cols="30" rows="5"></textarea>
                            </div>
                            <div class="btn-wrapper desktop-right">
                                <a href="#" class="btn sm-btn">Send</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    