{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<div class="trails-breadcrumb">
    <div class="breadcrumb-bg-transfer"></div>
    <div class="breadcrumb-style-4 margin-top-30">
      <div class="breadcrumb-inner">
        <h1 class="page-title">FAQ</h1>
        <ul class="page-list">
          <li><a href="/">Home</a></li>
          <li><a href="#">Frequently Asked Questions</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="accordion-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="title">Frequently Asked Questions</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="accordion-content">
                    <div class="accordion-wrapper" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <p class="mb-0">
                                    <a href="#" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        Is tipping customary in Zanzibar?
                                    </a>
                                </p>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                                <div class="card-body">
                                    Tipping isn’t mandatory in Tanzania but a little generosity will be received positively, especially when considering the low wages that Tanzanian service workers are typically paid. 
                                    Setting aside a small amount for porters, guides and drivers is wise, as is leaving spare change or rounding up the bill at restaurants.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <p class="mb-0">
                                    <a href="#" role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      What is internet access like in Zanzibar?
                                    </a>
                                </p>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    Travelers will be able to access the internet quite easily in the internet cafes of Tanzania’s large cities, but limited to no access should be expected in regional and rural areas.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <p class="mb-0">
                                    <a href="#" role="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Can I use my mobile/cell phone while in Zanzibar?
                                    </a>
                                </p>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Mobile phone coverage is good in Tanzania’s large cities and towns, but less so in rural and mountainous areas. Ensure you have global roaming activated before leaving home if you wish to use your mobile phone.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThree1">
                                <p class="mb-0">
                                    <a href="#" role="button" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree">
                                        What are the toilets like in Zanzibar?
                                    </a>
                                </p>
                            </div>
                            <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample">
                                <div class="card-body">
                                    Squat/pit toilets are the standard in Tanzania, except for western-style flushable toilets that are sometimes available in large hotels, tourist attractions and other modern buildings. Carry your own supply of soap and toilet paper, as they are rarely provided.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThree2">
                                <p class="mb-0">
                                    <a href="#" role="button" data-toggle="collapse" data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree">
                                        Can I drink water in Zanzibar?
                                    </a>
                                </p>
                            </div>
                            <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2" data-parent="#accordionExample">
                                <div class="card-body">
                                    Drinking tap water isn't recommended in Tanzania. For environmental reasons, try to avoid buying bottled water. 
                                    Fill a reusable water bottle or canteen with filtered water. Ask your leader where filtered water can be found; some hotels we stay in may have drinking water available. 
                                    It's also advisable to avoid ice in drinks and peel fruit and vegetables before eating.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThree3">
                                <p class="mb-0">
                                    <a href="#" role="button" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree">
                                        Are credit cards widely accepted widely in Zanzibar?
                                    </a>
                                </p>
                            </div>
                            <div id="collapseThree3" class="collapse" aria-labelledby="headingThree3" data-parent="#accordionExample">
                                <div class="card-body">
                                    Credit cards are usually accepted by large hotels and western-style restaurants but not by smaller vendors. Ensure you have adequate cash to cover purchases not able to be made on credit.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThree4">
                                <p class="mb-0">
                                    <a href="#" role="button" data-toggle="collapse" data-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree">
                                        What is ATM access like in Zanzibar?
                                    </a>
                                </p>
                            </div>
                            <div id="collapseThree4" class="collapse" aria-labelledby="headingThree4" data-parent="#accordionExample">
                                <div class="card-body">
                                    ATMs are easily found in large cities and urban centers but are rarer in small towns, rural areas and villages. Be sure to have other payment methods available when venturing out of the big cities as ATMs aren't always an option.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThree5">
                                <p class="mb-0">
                                    <a href="#" role="button" data-toggle="collapse" data-target="#collapseThree5" aria-expanded="false" aria-controls="collapseThree">
                                        When we book a transfer or an excursion with Reef Tours & Travel, will other people join us in the car?
                                    </a>
                                </p>
                            </div>
                            <div id="collapseThree5" class="collapse" aria-labelledby="headingThree5" data-parent="#accordionExample">
                                <div class="card-body">
                                    No, Reef Tours & Travel only provides private services. No one else joins in the car.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}