{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- banner area start -->
    <div class="banner-area">
        <div class="banner-slider">
            <div class="banner-slider-item banner-bg-1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 offset-xl-2 offset-lg-1">
                            <div class="row">
                                <div class="col-lg-9 col-sm-8">
                                    <div class="banner-inner">
                                        <h2 class="banner-title s-animate-2">Stone Town</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner-slider-item banner-bg-2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 offset-xl-2 offset-lg-1">
                            <div class="row">
                                <div class="col-lg-9 col-sm-8">
                                    <div class="banner-inner">
                                        <h2 class="banner-title s-animate-2">Prison Island</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner-slider-item banner-bg-3">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 offset-xl-2 offset-lg-1">
                            <div class="row">
                                <div class="col-lg-9 col-sm-8">
                                    <div class="banner-inner">
                                        <h2 class="banner-title s-animate-2">Safari Blue</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner-slider-item banner-bg-4">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 offset-xl-2 offset-lg-1">
                            <div class="row">
                                <div class="col-lg-9 col-sm-8">
                                    <div class="banner-inner">
                                        <h2 class="banner-title s-animate-2">Johazi Forest</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner-slider-item banner-bg-5">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 offset-xl-2 offset-lg-1">
                            <div class="row">
                                <div class="col-lg-9 col-sm-8">
                                    <div class="banner-inner">
                                        <h2 class="banner-title s-animate-2">Dolphin Tour</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner-slider-item banner-bg-6">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 offset-xl-2 offset-lg-1">
                            <div class="row">
                                <div class="col-lg-9 col-sm-8">
                                    <div class="banner-inner">
                                        <h2 class="banner-title s-animate-2">Spice Tour</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner-slider-item banner-bg-7">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 offset-xl-2 offset-lg-1">
                            <div class="row">
                                <div class="col-lg-9 col-sm-8">
                                    <div class="banner-inner">
                                        <h2 class="banner-title s-animate-2">Dhow Sunset Cruise</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner-slider-item banner-bg-8">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 offset-xl-2 offset-lg-1">
                            <div class="row">
                                <div class="col-lg-9 col-sm-8">
                                    <div class="banner-inner">
                                        <h2 class="banner-title s-animate-2">Mnemba Island</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>


        <div class="banner-social-meta">
            <div class="banner-slider-dots"></div>
            <ul class="social-icon">
                <li>
                    <a class="facebook" href="" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a class="twitter" href="" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a class="pinterest" href="" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="banner-slider-controls">
                <div class="slider-nav tp-control-nav"></div>
            </div>
        </div>
    </div>
    <!-- intro area start -->
    
    <div class="intro-area pd-top-112">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-intro wow animated fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.1s">
                        <h4 class="intro-title">
                            <span class="intro-count">01</span>
                            <a class="intro-cat" href="#">Travel</a>
                        </h4>
                        <p>Sponsorships are like unicorns or leprechauns, talked about often but they don’t actually exist. There is only dollars and cents, the ...</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-intro wow animated fadeInUp" data-wow-duration="1.0s" data-wow-delay="0.2s">
                        <h4 class="intro-title">
                            <span class="intro-count">02</span>
                            <a class="intro-cat" href="#">Experience</a>
                        </h4>
                        <p>My response is usually harsh. Offended at the suggestion that a career that’s taken more than a decade to create could be...</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-intro wow animated fadeInUp" data-wow-duration="1.6s" data-wow-delay="0.3s">
                        <h4 class="intro-title">
                            <span class="intro-count">03</span>
                            <a class="intro-cat" href="#">Relax</a>
                        </h4>
                        <p>I have always made a living to make movies, never the other way around. When I first started I washed in a seafood restaurant....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- intro area end -->
    
    <div class="transfer mg-top-96">
        <div class="container">
            <div class="row">
                <div class="col-md-6 content wow  fadeInRight animated">
                    <p class="lead"> Exprole Zanzibar with us</p>
                    <h2>Our Excursions</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis a, 
                        consectetur eveniet fuga blanditiis asperiores mollitia corrupti, 
                        quam facilis quas pariatur repellat amet possimus harum nulla dolorem maiores, excepturi dicta.</p>
                    <a class="btn btn-yellow" href="#"><span>Read More<i class="la la-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- video area start -->
    <div class="video-area tp-video-area pd-top-110" style="background-image: url(assets/img/bg/7.png);">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 align-self-center wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="section-title mb-lg-0 mb-4 text-center text-lg-left">
                        <h2 class="title">So Many </br>Reasons To </br>Choose us</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when unknown printer took a galley of type and scrambled it to make a type specimen book. It has not only five centuries</p>
                        <a class="btn btn-yellow" href="#"><span>Read Reasons<i class="la la-arrow-right"></i></span></a>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 offset-xl-1 wow animated fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="video-popup-wrap">
                        <div class="">
                            <img src="{% static 'assets/img/video.png' %}" alt="video">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog area start -->
    <div class="blog-area pd-top-120">
        <div class="container">
            <div class="row">
                {% for blog in blog %}
                        <div class="col-md-4">
                            <div class="single-blog style-three">
                                <div class="thumb">
                                    <img src="{{blog.cover.url}}" alt="blog">
                                </div>
                                <div class="single-blog-details-wrap">
                                    <div class="single-blog-details text-center">
                                        <p class="date">{{ blog.published }}</p>
                                        <h4 class="title">{{ blog.title }}</h4>
                                        <a class="btn btn-yellow" href="{{ blog.get_absolute_url }}"><span>Read More<i class="la la-arrow-right"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
            <div class="container">
                <div class="col-md-4 offset-md-4">
                    <a class="btn btn-gray btn-lg btn-block" href="{% url 'blog:blog' %}"><span>View All<i class="la la-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="payment pd-top-120">
        <div class="container">
             <h2>From Instagram</h2> 
        </div>
    </div>
    <!-- blog area End -->

{% endblock content %}