{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
    <!-- banner start -->
    <div class="banner-area home-banner1">
        <div class="banner-slider banner-slider1">
            <div class="banner-bg" style="background-image:url({% static 'assets/img/bg/1.jpg' %});">
                <div class="container">
                    <div class="row h-100vh">
                        <div class="col-xl-10 col-lg-10 offset-lg-2 offset-xl-1 col-md-8 offset-md-2">
                            <div class="banner-inner">
                                <!-- <p data-animation-in="fadeInLeft">Growing up in Michigan, I was lucky enough to<br> experience one part of the Great Lakes.</p> -->
                                <h1 class="title1" data-animation-in="fadeInDown">Prison</h1>
                                <h1 class="title2" data-animation-in="fadeInUp">Island</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-bg" style="background-image:url({% static 'assets/img/bg/2.jpg' %});">
                <div class="container">
                    <div class="row h-100vh">
                        <div class="col-xl-10 col-lg-10 offset-lg-2 offset-xl-1 col-md-8 offset-md-2">
                            <div class="banner-inner">
                                <!-- <p data-animation-in="fadeInLeft">Growing up in Michigan, I was lucky enough to<br> experience one part of the Great Lakes.</p> -->
                                <h1 class="title1" data-animation-in="fadeInDown">Stone</h1>
                                <h1 class="title2" data-animation-in="fadeInUp">Town</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-bg" style="background-image:url({% static 'assets/img/bg/3.jpg' %});">
                <div class="container">
                    <div class="row h-100vh">
                        <div class="col-xl-10 col-lg-10 offset-lg-2 offset-xl-1 col-md-8 offset-md-2">
                            <div class="banner-inner">
                                <!-- <p data-animation-in="fadeInLeft">Life is like riding<br> you must keep moving</p> -->
                                <h1 class="title1" data-animation-in="fadeInDown">Mnemba</h1>
                                <h1 class="title2" data-animation-in="fadeInUp">Island</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-bg" style="background-image:url({% static 'assets/img/bg/5.jpg' %});">
                <div class="container">
                    <div class="row h-100vh">
                        <div class="col-xl-10 col-lg-10 offset-lg-2 offset-xl-1 col-md-8 offset-md-2">
                            <div class="banner-inner">
                                <!-- <p data-animation-in="fadeInLeft">Nothing compares<br> the simple pleasure of a bike ride</p> -->
                                <h1 class="title1" data-animation-in="fadeInDown">Safari</h1>
                                <h1 class="title2" data-animation-in="fadeInUp">Blue</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- social icon -->
        <ul class="social-icon">
            <li class="icon-list">
                <a href="https://twitter.com/ReeftoursZ" class="icon-text" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="icon-list">
                <a href="https://www.facebook.com/reeftoursZ" target="_blank" class="icon-text">
                    <i class="fa fa-facebook-f"></i>
                </a>
            </li>
            <li class="icon-list">
                <a href="https://www.instagram.com/p/CCYZeScHWCc/" class="icon-text" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>
        
        <!-- scroll down -->
        <div class="scroll">
            <a href="#about-area"><div class="scroll-btn"><span class="inside-bg"></span></div></a>
            <span>Scroll to explore</span>
        </div>

        <div class="banner-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-5 d-none d-lg-block">
                        <div class="controler-wrapper">
                            <div class="active-controler">01</div>
                            <div class="progressbar">
                                <span class="home-slider-progress"></span>
                                <span class="home-slider-progress-active"></span> 
                            </div>
                            <div class="total-controler">04</div>
                        </div>
                    </div>
                    <div class="col-xl-3 offset-lg-1 col-lg-4 col-md-6 offset-md-2 col-sm-6 offset-sm-2 col-10 offset-1">
                        <div class="banner-sm-slider d-flex">
                            <div class="slider-image1"><img src="{% static 'assets/img/bg/1.jpg' %}" alt=""></div>
                            <div class="slider-image2"><img src="{% static 'assets/img/bg/2.jpg' %}" alt=""></div>
                            <div class="slider-image3"><img src="{% static 'assets/img/bg/3.jpg' %}" alt=""></div>
                            <div class="slider-image4"><img src="{% static 'assets/img/bg/5.jpg' %}" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--social-icon-->
    </div>
    <!-- banner end -->

    <!-- home-about start -->
    <div class="home-about" id="about-area">
        <div class="floating-icon" id="service_info_item">
            <div class="floating-icon__is floating-icon-info">
                <i class="flaticon-phone"></i>
            </div>
            <!--floating-icon-is-->
            <div class="floating-icon__is floating-icon-location">
                <i class="flaticon-pin"></i>
            </div>
            <!--floating-icon-is-->
            <div class="floating-icon__is floating-icon-message">
                <i class="flaticon-mail"></i>
            </div>
            <!--floating-icon-is-->
        </div>
        <!--floating-icon-->
        
        <div class="container">
            <div class="row">
                <div class="about-title about-title-1">About us</div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="about-image about-image-1">
                            <img src="{% static 'assets/img/home1/about.png' %}" alt="About">
                            <div class="overlay-content">
                                Your travel plans starts here… </br>Whether you’re looking for a luxury family holiday, a romantic holiday destination, a special place to celebrate your anniversary, multi -centre holidays or just a quiet spot for two; we can tailor-make your luxury holiday to be exactly how you’ve always imagined. Our primary mission is to create the tailor-made holiday of your dreams.
                            </div>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="home-about-slider">
                        <a href="{% url 'transfer' %}">
                            <div class="single-item">
                                <img src="{% static 'assets/img/home1/about-slider1.png' %}" alt="">
                                <h3>Ready to explore the island?</h3>
                            </div>
                        </a>
                        <a href="{% url 'groups' %}">
                            <div class="single-item">
                                <img src="{% static 'assets/img/home1/about-slider2.png' %}" alt="">
                                <h3>Worry Free</h3>
                            </div>
                        </a>
                        <a href="{% url 'transfer' %}">
                            <div class="single-item">
                                <img src="{% static 'assets/img/home1/about-slider3.png' %}" alt="">
                                <h3>Personalized </br>service </h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="ceramic animated slideRotateFromRight">Ceramic Speed</div> -->
    </div>
    <!-- home-about end -->

    <!-- home-rolling start -->
    <div class="home-rolling">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="rolling-content">
                        <div class="rolling-title">Our<br>Excursion</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet semper augue. Maecenas gravida tortor sit amet enim venenatis tristique. Nulla vehicula porta tortor non maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam eu viverra augue. Donec aliquet dignissim augue, nec posuere augue pharetra sed. Pellentesque consequat ornare ornare. Aliquam erat volutpat. Nullam posuere porttitor lectus, ut efficitur nisi tincidunt posuere.</p>
                        <a href="#" class="btn btn-style-2">Buy Now</a>
                    </div>
                </div>
                <div class="col-lg-6 position-relative">
                    <div class="home-rolling-slider">
                        <div class="single-item">
                            <img src="{% static 'assets/img/home1/rolling-slider1.png' %}" alt="">
                        </div>
                    </div>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <!-- home-rolling end -->

    <div class="transfer mg-top-96">
        <div class="container">
            <div class="row">
                <div class="col-md-7 content wow  fadeInRight  animated">
                    <h1 class="group-header">Travel in <br><span> Groups</span></h1>
                    <p>Let us handle the logistics! We have an entire team dedicated to guiding and supporting you from start to finish. We will work 
                        closely with you to gain a comprehensive understanding of your goals, 
                        budget and objectives. Every detail is handled with care and attention. We will get you on the fast track upon arrival, 
                        advise of any required travel documents, arrange transportation, create one-of-a-kind tour experiences, 
                        coordinate on-site execution, and much more.</p>
                        <a href="#" class="btn btn-element btn-lg btn-second">Read More <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- customer start -->
    <div class="customer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5">
                    <div class="content">
                        <h1>What's <span>customer</span> say</h1>
                        <ul class="quote-image-menu d-none d-lg-block">
                            <li><img src="{% static 'assets/img/quote/1.png' %}" alt="Quote image"></li>
                            <li><img src="{% static 'assets/img/quote/2.jpg' %}" alt="Quote image"></li>
                            <li><img src="{% static 'assets/img/quote/3.jpg' %}" alt="Quote image"></li>
                            <li><img src="{% static 'assets/img/quote/4.jpg' %}" alt="Quote image"></li>
                            <li><img src="{% static 'assets/img/quote/5.jpg' %}" alt="Quote image"></li>
                            <li><img src="{% static 'assets/img/quote/6.jpg' %}" alt="Quote image"></li>
                            <li><img src="{% static 'assets/img/quote/7.jpg' %}" alt="Quote image"></li>
                            <li><img src="{% static 'assets/img/quote/8.jpg' %}" alt="Quote image"></li>
                            <li><img src="{% static 'assets/img/quote/9.jpg' %}" alt="Quote image"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="quote-slider quote-slider1">
                        <div class="single-item">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="image">
                                <img src="{% static 'assets/img/quote/1.png' %}" alt="quote">
                            </div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat distinctio voluptates nam autem et, corrupti voluptas at qui id, a eligendi placeat sed quia dolorum, laborum ipsam dolores maiores magnam rerum soluta optio voluptatum. Cumque praesentium consectetur architecto </p>
                                <span class="quote-name">Jhon Due</span>
                                <p class="quote-pos">Managing Director</p>
                            </div>
                        </div>
                        <div class="single-item">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="image"><img src="ti{% static 'assets/img/quote/2.jpg' %}" alt="quote"></div>
                            <div class="content">
                                <p>Quidem sequi labore nesciunt recusandae nihil odit, laudantium officia natus maxime enim porro vitae ex ea eos temporibus at asperiores. Similique totam et soluta, expedita sint blanditiis quae culpa harum iusto porro atque voluptatibus ratione quam, eveniet placeat sit</p>
                                <span class="quote-name">Surunjit Kumar</span>
                                <p class="quote-pos">Project Manager</p>
                            </div>
                        </div>
                        
                        <div class="single-item">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="image"><img src="{% static 'assets/img/quote/3.jpg' %}" alt="quote"></div>
                            <div class="content">
                                <p>Impedit tempore. Quo hic eum in amet quae aspernatur laudantium neque aliquid! Eligendi itaque molestiae ipsum, sed fugiat omnis nostrum vero. Velit, aspernatur?, impedit tempore. Quo hic eum in amet quae aspernatur laudantium neque aliquid! Eligendi itaque molestiae ipsum, sed fugiat omnis nostrum vero. Velit, aspernatur?</p>
                                <span class="quote-name">Sirajul Islam</span>
                                <p class="quote-pos">Team Leader</p>
                            </div>
                        </div>

                        <div class="single-item">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="image"><img src="{% static 'assets/img/quote/4.jpg' %}" alt="quote"></div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat distinctio voluptates nam autem et, corrupti voluptas at qui id, a eligendi placeat sed quia dolorum, laborum ipsam dolores maiores magnam rerum soluta optio voluptatum. Cumque praesentium consectetur architecto </p>
                                <span class="quote-name">Janice Mcreaken</span>
                                <p class="quote-pos">Founder</p>
                            </div>
                        </div>

                        <div class="single-item">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="image"><img src="{% static 'assets/img/quote/5.jpg' %}" alt="quote"></div>
                            <div class="content">
                                <p>Quidem sequi labore nesciunt recusandae nihil odit, laudantium officia natus maxime enim porro vitae ex ea eos temporibus at asperiores. Similique totam et soluta, expedita sint blanditiis quae culpa harum iusto porro atque voluptatibus ratione quam, eveniet placeat sit</p>
                                <span class="quote-name">Jane Smith</span>
                                <p class="quote-pos">Managing Director</p>
                            </div>
                        </div>

                        <div class="single-item">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="image"><img src="{% static 'assets/img/quote/6.jpg' %}" alt="quote"></div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet semper augue. Maecenas gravida tortor sit amet enim venenatis tristique. Nulla vehicula porta tortor non maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                                <span class="quote-name">Alex Smith</span>
                                <p class="quote-pos">Managing Director</p>
                            </div>
                        </div>

                        <div class="single-item">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="image"><img src="{% static 'assets/img/quote/7.jpg' %}" alt="quote"></div>
                            <div class="content">
                                <p>Impedit tempore. Quo hic eum in amet quae aspernatur laudantium neque aliquid! Eligendi itaque molestiae ipsum, sed fugiat omnis nostrum vero. Velit, aspernatur?, impedit tempore. Quo hic eum in amet quae aspernatur laudantium neque aliquid! Eligendi itaque molestiae ipsum, sed fugiat omnis nostrum vero. Velit, aspernatur?</p>
                                <span class="quote-name">Jhon Due</span>
                                <p class="quote-pos">Managing Director</p>
                            </div>
                        </div>

                        <div class="single-item">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="image"><img src="{% static 'assets/img/quote/8.jpg' %}" alt="quote"></div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet semper augue. Maecenas gravida tortor sit amet enim venenatis tristique. Nulla vehicula porta tortor non maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                                <span class="quote-name">Rahul Biswas</span>
                                <p class="quote-pos">Assistant Director</p>
                            </div>
                        </div>

                        <div class="single-item">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="image"><img src="{% static 'assets/img/quote/9.jpg' %}" alt="quote"></div>
                            <div class="content">
                                <p>Impedit tempore. Quo hic eum in amet quae aspernatur laudantium neque aliquid! Eligendi itaque molestiae ipsum, sed fugiat omnis nostrum vero. Velit, aspernatur?, impedit tempore. Quo hic eum in amet quae aspernatur laudantium neque aliquid! Eligendi itaque molestiae ipsum, sed fugiat omnis nostrum vero. Velit, aspernatur?</p>
                                <span class="quote-name">Rohit sharma</span>
                                <p class="quote-pos">Managing Director</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- customer end -->
    
{% endblock content %}
    