{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="breadcrumb-area breadcrumb-style-6 margin-bottom-100">
    <div class="breadcrumb-inner">
        <h1 class="page-title">Transfer</h1>
        <ul class="page-list">
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="#">Transfer</a></li>
        </ul>
    </div>
</div>

<div class="page-content container">Book your airport transfer today and prepare to enjoy comfortable, 
    convenient travel around Tanzania. Our welcoming staff will meet you on arrival and fast-track you through the transfer desk 
    formalities in a group of no more than five travelers. While you wait for your next flight, 
    you can relax in our exclusive lounge for an additional charge.
</div>


{% endblock content %}
    