{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<div class="trails-breadcrumb">
  <div class="breadcrumb-bg-transfer"></div>
  <div class="breadcrumb-style-4 margin-top-30">
    <div class="breadcrumb-inner">
      <h1 class="page-title">Transfer</h1>
      <ul class="page-list">
        <li><a href="/">Home</a></li>
        <li><a href="#">Transfer</a></li>
      </ul>
    </div>
  </div>
  <div class="page-content container">Book your airport transfer today and prepare to enjoy comfortable,
    convenient travel around Tanzania. Our welcoming staff will meet you on arrival and fast-track you through the
    transfer desk
    formalities in a group of no more than five travelers. While you wait for your next flight,
    you can relax in our exclusive lounge for an additional charge.
  </div>
  <div class="margin-top-70 margin-bottom-70">
    <div class="container trail-container">
        <div class="row">
            <div class="trail-slider">
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/transfer/slider1.jpg' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/transfer/slider2.jpg' %}" alt="slider2">
                    </div>
                </div>
                
            </div>
    </div>
    </div>
</div>
</div>



<!-- 
<section class="service-categories text-xs-center">
    <div class="container">
      <div class="row">
        
        <div class="col-md-2">
            <div class="card service-card card-inverse">
              <div class="card-block">
                <img src="{% static 'assets/img/icons/hourglass.svg' %}" alt="">
                <h6 class="card-title text-center">Free waiting</h6>
                <p class="text-center">We monitor all flight schedules, so we'll know if your plane is delayed.</p>
              </div>
            </div>
        </div>   
            <div class="col-md-2">
            <div class="card service-card card-inverse">
              <div class="card-block">
                <img src="{% static 'assets/img/icons/24.svg' %}" alt="">
                <h6 class="card-title text-center">24/7 airport transfers</h6>
                <p class="text-center">Arriving late at night or early in the morning? No problem. No surcharge.</p>

              </div>
            </div>
        </div>   
            <div class="col-md-2">
            <div class="card service-card card-inverse">
              <div class="card-block">
                <img src="{% static 'assets/img/icons/car.svg' %}" alt="">
                <h6 class="card-title text-center">Safety child seats </h6>
                <p class="text-center">Travelling with kids? We have all kinds of child safety seats – just let us know in advance.</p>
              </div>
            </div>
          </a>
        </div>   
        <div class="col-md-2">
            <div class="card service-card card-inverse">
              <div class="card-block">
                <img src="{% static 'assets/img/icons/free.svg' %}" alt="">
                <h6 class="card-title text-center">All-inclusive prices</h6>
                <p class="text-center">The price you see in our quote is the price you pay.</p>
              </div>
            </div>
        </div>
        <div class="col-md-2">

              <div class="card service-card card-inverse">
                <div class="card-block">
                  <img src="{% static 'assets/img/icons/price.svg' %}" alt="">
                  <h6 class="card-title text-center">Special discounts and offers</h6>
                  <p class="text-center">We offer special discounts on your return transfers and more.</p>
                </div>
              </div>
          </div>
          <div class="col-md-2">

              <div class="card service-card card-inverse">
                <div class="card-block">
                  <img src="{% static 'assets/img/icons/insuarance.svg' %}" alt="">
                  <h6 class="card-title text-center">Fully insured</h6>
                  <p class="text-center">We own vehicles with seats from 1 - 3 up to 1 - 22 people. But we can also provide transfers for large groups.</p>
                </div>
              </div>
          </div>
        
      </div><!--End Row-->
</div>
</section> -->

{% endblock content %}