{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- breadcrumb area start -->
    <div
        class="breadcrumb-area style-two jarallax"
        style="background-image:url({% static 'assets/img/bg/1.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner">
                        <h1 class="page-title">Transfers</h1>
                        <ul class="page-list">
                            <li>
                                <a href="{% url 'homepage' %}">Home</a>
                            </li>
                            <li>Transfers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area End -->
    <div class="intro-area pd-top-180">
        <div class="container">
            <div class="section-title text-lg-center text-left">
                <p>
                    Book your airport transfer today and prepare to enjoy comfortable, convenient
                    travel around Tanzania. Our welcoming staff will meet you on arrival and
                    fast-track you through the transfer desk formalities in a group of no more than
                    five travelers. While you wait for your next flight, you can relax in our
                    exclusive lounge for an additional charge.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-intro style-two">
                        <div class="thumb">
                            <img src="{% static 'assets/img/icons/9.png' %}" alt="img"></div>
                            <h4 class="intro-title">Free waiting</h4>
                            <p>We monitor all flight schedules, so we&#39;ll know if your plane is delayed.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-intro style-two">
                            <div class="thumb">
                                <img src="{% static 'assets/img/icons/10.png' %}" alt="img"></div>
                                <h4 class="intro-title">24/7 airport transfers</h4>
                                <p>Arriving late at night or early in the morning? No problem. No surcharge.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-intro style-two">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/icons/11.png' %}" alt="img"></div>
                                    <h4 class="intro-title">Safety child seats</h4>
                                    <p>Travelling with kids? We have all kinds of child safety seats – just let us
                                        know in advance.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single-intro style-two">
                                    <div class="thumb">
                                        <img src="{% static 'assets/img/icons/12.png' %}" alt="img"></div>
                                        <h4 class="intro-title">all-inclusive prices</h4>
                                        <p>The price you see in our quote is the price you pay.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-intro style-two">
                                        <div class="thumb">
                                            <img src="{% static 'assets/img/icons/12.png' %}" alt="img"></div>
                                            <h4 class="intro-title">Special discounts and offers</h4>
                                            <p>We offer special conditions for business and corporate clients, discounts on
                                                your return transfers and more.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="single-intro style-two">
                                            <div class="thumb">
                                                <img src="{% static 'assets/img/icons/12.png' %}" alt="img"></div>
                                                <h4 class="intro-title">Fully insured, air-conditioned transport</h4>
                                                <p>We own vehicles with seats from 1 - 3 up to 1 - 22 people. But we can also
                                                    provide transfers for large groups. All vehicles have A/C fitted and all
                                                    services are insured.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endblock content %}