{% extends 'pages/base.html' %}
{% load static %}


{% block content %}
<div class="trails-breadcrumb">
    <div class="breadcrumb-bg-dolphin"></div>
    <div class="breadcrumb-style-4 margin-top-30">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Dolphin Safari</h1>
            <ul class="page-list">
                <li><a href="/">Home</a></li>
                <li><a href="#">Dolphin Safari</a></li>
            </ul>
        </div>
    </div>
    <div class="page-content container">Dolphin safari offers you the experience of a lifetime, a chance to swim with dolphins in their natural habitat. The seashore of the fishing village Kizimkazi is the home of several pods of humpback and bottlenose dolphins.</div>
</div>

<div class="margin-top-70 margin-bottom-70">
    <div class="container trail-container">
        <div class="row">
            <div class="trail-slider">
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/dolphin/slider1.jpg' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/dolphin/slider2.jpg' %}" alt="slider2">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/dolphin/slider3.jpg' %}" alt="slider3">
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>
<div class="about-video">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="about-video-text">
                    <h6>Dolphin Safari</h6>
                    <p class="nohyphen p3">The dolphins are officially protected by the 420 km2 Menai Bay Conservation Area, which was set up in 1997 to stop the rapid depletion of fish stocks. 
                        We will depart from the shores of Kizimkazi fishing village in search of dolphins. Snorkeling gear is available for you.  <br><br>
                        The boat will take you out into the clear turquoise blue Indian Ocean where the odds of meetings dolphins are about 80%. Reef Tours & Travel gives contribution to the protection of dolphins in the waters of Kizimkazi. 
                        <br><br>
                        We encourage our skippers not to chase the dolphins and we advise visitors to enter the water away from the dolphins with as little disturbance as possible, staying close to the boat, avoiding sudden movement and allowing the dolphins to come to you. On busy days with many tourists this however is not possible. 
                        <br><br>
                        After the exhilarating experience of swimming with the dolphins, you can also do snorkeling for a while before we will head back to shore. The trip takes about 3 hours starting very early in the morning.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                <div class="about-video-text">
                    <div class="selling">
                        <h6>Duration: 4 Hours</h6>
                        <p class="nohyphen p3">
                            Starting time 07:30AM. Please let us know if you want to customize the timing of stone town tour according to your schedule.
                        </p>
                    </div>
                    <div class="selling">
                        <h6>Meeting point</h6>
                        <p class="nohyphen p3">Our representative will meet you at the hotel lobby at the arranged time.</p>
                    </div>

                    <div class="selling">
                        <h6>Departs from</h6>
                        <p class="nohyphen p3">Kizimkazi Beach, Zanzibar South.</p>
                    </div>

                    <div class="selling">
                        <h6>Live tour guide</h6>
                        <p class="nohyphen p3">We offer this tour in English, French, Spanish, and Italian.
                            <blockquote class="nohyphen">For any other nationalities please advise when sending your inquiry so we can make an arrangement for you</blockquote>
                        </p>
                    </div>
                    <div class="selling">
                        <h6>COVID-19</h6>
                        <p class="nohyphen p3">We are following the necessary safety measures as advised to all tour operators by WTTC for our clients’ comfort and ours as well.
                            <br><br>Face masks are required especially at check-in.
                            <br><br>We still offering snorkeling equipment as an optional activity; however, we highly recommend our clients to bring their own snorkeling equipment.
                            </p>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'pages/cta.html' %}

{% endblock content %}
