{% extends 'pages/base.html' %}
{% load static %}


{% block content %}
<div class="trails-breadcrumb">
    <div class="breadcrumb-bg-fishing"></div>
    <div class="breadcrumb-style-4 margin-top-30">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Game Fishing Trip</h1>
            <ul class="page-list">
                <li><a href="/">Home</a></li>
                <li><a href="#">Game Fishing Trip</a></li>
            </ul>
        </div>
    </div>
    <div class="page-content container">
        We organize a half day Zanzibar fishing charter which is the perfect way to Escape your Hotel and spend a Morning or an Afternoon looking for some Adrenaline filled Fishing Action! Join us onboard for a few hours of Fishing Fun out on the warm tropical waters of Zanzibar!
    </div>
</div>

<div class="margin-top-70 margin-bottom-70">
    <div class="container trail-container">
        <div class="row">
            <div class="trail-slider">
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/trails/slider1.png' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/trails/slider1.png' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/trails/slider2.png' %}" alt="slider1">
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>
<div class="about-video">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="about-video-text">
                    <h6>Game Fishing Trip</h6>
                    <p class="nohyphen p3">During our Half Day Zanzibar Fishing Charter, we focus on the fishing areas of Leven Bank (which lies 6 miles north of Nungwi), the Zanzibar Channel and the north east coast of Zanzibar Island. Of course, if it is quite inshore, we will head offshore in search of better fishing should time allow during the course of your Fishing Charter.
                    </p>
                    <h6>Inclusions</h6>
                    <ul>
                        <li>Private transportation.</li>
                        <li>Captain</li>
                        <li>Deckhand</li>
                        <li>Trolling Rods & Reels</li>
                        <li>A selection of Artificial Lures</li>
                        <li>Terminal Tackle</li>
                        <li>Bait</li>
                        <li>Tropical Fruits</li>
                        <li>Snacks</li>
                        <li>Sodas</li>
                        <li>Mineral Water</li>

                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                <div class="about-video-text">
                    <div class="selling">
                        <h6>Charter Duration: 5 Hours</h6>
                        <p class="nohyphen p3">Morning Charter Times: 7am – 12pm</p>
                        <p class="nohyphen p3">Afternoon Charter Times: 1pm – 6pm.</p>
                    </div>

                    <div class="selling">
                        <h6>Meeting point</h6>
                        <p class="nohyphen p3">Our representative will meet you at the hotel lobby at the arranged time.</p>
                    </div>

                    <div class="selling">
                        <h6>Departs from</h6>
                        <p class="nohyphen p3">Nungwi Beach, north Zanzibar.</p>
                    </div>

                    <div class="selling">
                        <h6>Live tour guide</h6>
                        <p class="nohyphen p3">We offer this tour in English, French, Spanish, and Italian.
                            <blockquote class="nohyphen">For any other nationalities please advise when sending your inquiry so we can make an arrangement for you</blockquote>
                        </p>
                    </div>
                    <div class="selling">
                        <h6>COVID-19</h6>
                        <p class="nohyphen p3">We are following the necessary safety measures as advised to all tour 
                            operators by WTTC for our clients’ comfort and ours as well. <br>-Face masks are required, please bring your own. <br>-	We still offering snorkeling as an optional guided activity; however, we highly recommend our clients to bring their own snorkeling equipment       </p>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'pages/cta.html' %}


{% endblock content %}
