{% extends 'pages/base.html' %}
{% load static %}


{% block content %}
<div class="trails-breadcrumb">
    <div class="breadcrumb-bg"></div>
    <div class="breadcrumb-style-4 margin-top-30">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Johazi Forest</h1>
            <ul class="page-list">
                <li><a href="/">Home</a></li>
                <li><a href="#">Johazi Forest</a></li>
            </ul>
        </div>
    </div>
    <div class="page-content container">Venture into the jungle of Jozani Forest to spot the area's red colobus monkeys as they swing and howl in the trees. Wander down a trail through this protected area and spot some of 50 species of butterflies, 40 types of birds, as well as a few endangered animals.</div>
</div>

<div class="margin-top-70 margin-bottom-70">
    <div class="container trail-container">
        <div class="row">
            <div class="trail-slider">
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/trails/slider1.png' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/trails/slider1.png' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/trails/slider2.png' %}" alt="slider1">
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>
<div class="about-video">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="about-video-text">
                    <p class="nohyphen p3">Walk down a nature trail and observe the vast canopy above, as well as the sun-canopies created by smaller trees and shrubs. Listen to the songs of some of the island's native birds and keep a lookout for monkeys.
                        <br><br>
                        The Zanzibar red colobus monkey, a Jozani Forest resident, has been isolated from its mainland counterparts, producing distinct calls, eating habits, and coat patterns. With hair resembling Einstein's, these fuzzy creatures are easy to hear as they make their way through the trees. Your guide helps you find the perfect spot for monkey viewing, and you may even get to see other endangered species like the Aders' duiker or the Zanzibar servaline genet. After exploring the wild side, your host takes you back to your hotel.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 d-none d-lg-block">

            </div>
        </div>
    </div>
</div>

{% endblock content %}
