{% extends 'pages/base.html' %}
{% load static %}


{% block content %}
<div class="trails-breadcrumb">
    <div class="breadcrumb-bg"></div>
    <div class="breadcrumb-style-4 margin-top-30">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Mnemba Island</h1>
            <ul class="page-list">
                <li><a href="/">Home</a></li>
                <li><a href="#">Mnemba Island</a></li>
            </ul>
        </div>
    </div>
    <div class="page-content container">A Marine conservation reserve situated on the North East Coast of Zanzibar, well known for its fish life like lionfish, moray eels, stingrays, and turtles swimming around in the shallows.</div>
</div>

<div class="margin-top-70 margin-bottom-70">
    <div class="container trail-container">
        <div class="row">
            <div class="trail-slider">
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/trails/slider1.png' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/trails/slider1.png' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/trails/slider2.png' %}" alt="slider1">
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>
<div class="about-video">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="about-video-text">
                    <p class="nohyphen p3">Venture further out the reef drops away into a big reef wall inhabited by schools of giant trevally and emperor fish hunting, yellow snappers, barracuda and if possible, napoleon fish and turtles. The snorkeling trips are accompanied by an experienced guide who will help you find the fish answer any questions you have about them and ensure you are safe and comfortable.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 d-none d-lg-block">

            </div>
        </div>
    </div>
</div>

{% endblock content %}
