{% extends 'pages/base.html' %}
{% load static %}


{% block content %}
<div class="trails-breadcrumb">
    <div class="breadcrumb-bg-mnemba"></div>
    <div class="breadcrumb-style-4 margin-top-30">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Mnemba Island</h1>
            <ul class="page-list">
                <li><a href="/">Home</a></li>
                <li><a href="#">Mnemba Island</a></li>
            </ul>
        </div>
    </div>
    <div class="page-content container">A Marine conservation reserve situated on the North East Coast of Zanzibar, well known for its fish life like lionfish, moray eels, stingrays, and turtles swimming around in the shallows.</div>
</div>

<div class="margin-top-70 margin-bottom-70">
    <div class="container trail-container">
        <div class="row">
            <div class="trail-slider">
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/mnemba/1.jpg' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/mnemba/2.jpg' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/mnemba/3.jpg' %}" alt="slider1">
                    </div>
                </div>
                   
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/mnemba/5.jpg' %}" alt="slider4">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/mnemba/6.jpg' %}" alt="slider4">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/mnemba/7.jpg' %}" alt="slider4">
                    </div>
                </div>
                
            </div>
    </div>
    </div>
</div>
<div class="about-video">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="about-video-text">
                    <p class="nohyphen p3">Venture further out the reef drops away into a big reef wall inhabited by schools of giant trevally and emperor fish hunting, yellow snappers, barracuda and if possible, napoleon fish and turtles. 
                        The snorkeling trips are accompanied by an experienced guide who will help you find the fish answer any questions you have about them and ensure you are safe and comfortable. <br><br>
                        Mnemba Island, 2 miles (3.2km) to the north-east of the island of Zanzibar (Unguja), is surrounded by a vast coral reef measuring several miles in diameter. Listed as a marine reserve, it is the most popular snorkeling spot in Zanzibar. Moorish idols, blue tang and clownfish are easy to see in a few feet of water, above a colorful, well-preserved reef. <br><br>
                        Mnemba Island is a privately owned island with access restricted to guests of the luxurious &Beyond Mnemba Island. Tour guides will drop you off directly at the reef, which lies a few hundred yards from the small island. The full-day excursion from 9am to 3pm if you opt to go with a mixed boat (Not private) generally include a single snorkeling stop at Mnemba as well as a lunch break on the beach and a chance to observe dolphins on a lucky day!
                        Should you prefer a private trip to snorkel at Mnemba Island instead? This is one of our most picked option actually! Simply write us an email and we will specifically arrange it according to your needs.
                        
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                <div class="about-video-text">
                    <div class="selling">
                        <h6>Duration: 6 Hours</h6>
                        <p class="nohyphen p3">Starting time 09:00AM. Please let us know if you want to customize the timing of stone town tour according to your schedule.
                        </p>
                    </div>

                    <div class="selling">
                        <h6>Meeting point</h6>
                        <p class="nohyphen p3">Our representative will meet you at the hotel lobby at the arranged time.</p>
                    </div>

                    <div class="selling">
                        <h6>Departs from</h6>
                        <p class="nohyphen p3">Nungwi/Kendwa/Muyuni Beach, North Zanzibar</p>
                    </div>

                    <div class="selling">
                        <h6>Live tour guide</h6>
                        <p class="nohyphen p3">We offer this tour in English, French, Spanish, and Italian.
                            <blockquote class="nohyphen">For any other nationalities please advise when sending your inquiry so we can make an arrangement for you</blockquote>
                        </p>
                    </div>
                    <div class="selling">
                        <h6>COVID-19</h6>
                        <p class="nohyphen p3">We are following the necessary safety measures as advised to all tour 
                            operators by WTTC for our clients’ comfort and ours as well. Face masks are required, please bring your own.</p>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'pages/cta.html' %}


{% endblock content %}
