{% extends 'pages/base.html' %}
{% load static %}


{% block content %}
<div class="trails-breadcrumb">
    <div class="breadcrumb-bg-prison"></div>
    <div class="breadcrumb-style-4 margin-top-30">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Prison Island</h1>
            <ul class="page-list">
                <li><a href="/">Home</a></li>
                <li><a href="#">Prison Island</a></li>
            </ul>
        </div>
    </div>
    <div class="page-content container">Travel to Prison Island, known locally as Changuu, for a tour of this tropical wonderland. The island's most famous inhabitant, a 192-year-old tortoise, wanders the island and may be available for a photo session. After meeting some friendly reptiles, go for a swim or snorkel in the warm waters.</div>
</div>

<div class="margin-top-70 margin-bottom-70">
    <div class="container trail-container">
        <div class="row">
            <div class="trail-slider">
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/prison/slider3.jpg' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/prison/slider2.jpg' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/prison/slider1.jpg' %}" alt="slider1">
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>
<div class="about-video">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="about-video-text">
                    <p class="nohyphen p3">Three hours tour that involves 20 minutes dhow crossing from Stone town to the island. Prison Island's original use was as a prison and later it was taken over to be used as a quarantine station by the British Army. It has some excellent coral formations just offshore providing a good opportunity for snorkeling. <br><br>

                        Another main attraction is the giant tortoises which are over 100 years old. These tortoises are only found on this island. Not indigenous to continental Africa, the original tortoises were brought from Aldabra in Seychelles in an effort to extend the tortoise conservation efforts. The adult tortoises of Prison Island are already producing the next generations, and the future's looking good for the continued survival of this ancient reptile.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 d-none d-lg-block">

            </div>
        </div>
    </div>
</div>

{% endblock content %}
