{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- navbar area end -->

    <!-- breadcrumb area start -->
    <div class="breadcrumb-area style-two jarallax" style="background-image:url({% static 'assets/img/bg/1.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner">
                        <h1 class="page-title">Safari Blue</h1>
                        <ul class="page-list">
                            <li><a href="{% url 'homepage' %}">Home</a></li>
                            <li>Excursion</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area End -->

    <!-- destinations-details-page start -->
    <div class="destinations-details-page mg-top-100">
        <div class="container">
            <div class="row destinations-details-location-name">
                <div class="col-lg-12">
                    <h3>Safari Blue</h3>
                </div>
                <div class="col-lg-6">
                    <p>
                    Step aboard a traditional dhow for a sailing adventure in the turquoise waters of Menai Bay. As you soak up the Indian Ocean breeze, snorkel surrounded by uninhabited islands, try your hand at paddling a ngalawa canoe, catch sights of incredible marine life, and feast on a seafood lunch.
Start the day with pickup from your hotel and transfer to the fishing village of Fumba, where a traditional sailing vessel known as a dhow waits for you. After meeting the friendly crew, you're whisked away into the dazzling aquamarine expanse of Menai Bay, the largest marine protected area in Zanzibar.
<br><br>
With the sun warming your shoulders and the ocean breeze tousling your hair, sit back and relax as your captain steers the boat past unpopulated islands and bright white sandbanks. Keep an eye out for bottlenose dolphins and humpback whales—known to frequent these waters—and pull on your snorkeling gear for a chance to discover the brilliant variety of tropical fish below the surface.
<br><br>
Just when you've worked up an appetite, head back to the boat to dig into a tasty lunch of fresh seafood. Round out your adventure with a ride in a traditional outrigger canoe known as a ngalawa, crafted from a single mango tree. Watch the fluid movements of the crew as they maneuver the boat, and even take a turn paddling yourself before boarding the dhow back to land.

                    </p>
                </div>
                <div class="col-lg-6">
                <div class="destinations-details-main-slider-wrap">
                        <div class="destinations-details-main-slider">
                            <div class="d-details-main-slider-item">
                                <img src="{% static 'assets/img/others/3.png' %}" alt="img">
                            </div>
                            <div class="d-details-main-slider-item">
                                <img src="{% static 'assets/img/others/2.png' %}" alt="img">
                            </div>
                            <div class="d-details-main-slider-item">
                                <img src="{% static 'assets/img/others/4.png' %}" alt="img">
                            </div>
                        </div>
                        <div class="destinations-details-main-slider-controls">
                            <div class="slider-nav tp-control-nav"></div>
                            <!--slider-nav-->
                            <div class="slider-extra tp-slider-extra">
                                <div class="text">
                                    <span class="first">01 </span>
                                    <span class="last">05</span>
                                </div>
                                <!--text-->
                                <div class="d-list-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <span class="slider__label sr-only"></span>
                                </div>
                            </div>
                            <!--slider-extra-->
                        </div>
                    </div></div>
            </div>
           </div>
    </div>

{% endblock content %}