{% extends 'pages/base.html' %}
{% load static %}


{% block content %}
<div class="trails-breadcrumb">
    <div class="breadcrumb-bg-safari"></div>
    <div class="breadcrumb-style-4 margin-top-30">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Safari Blue</h1>
            <ul class="page-list">
                <li><a href="/">Home</a></li>
                <li><a href="#">Safari Blue</a></li>
            </ul>
        </div>
    </div>
    <div class="page-content container">Step aboard a traditional dhow for a sailing adventure in the turquoise waters of Menai Bay. As you soak up the Indian Ocean breeze, snorkel surrounded by uninhabited islands, try your hand at paddling a ngalawa canoe, catch sights of incredible marine life, and feast on a seafood lunch.</div>
</div>

<div class="margin-top-70 margin-bottom-70">
    <div class="container trail-container">
        <div class="row">
            <div class="trail-slider">
            <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/safari/1.jpg' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/safari/2.jpg' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/safari/3.jpg' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/safari/4.jpg' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/safari/slider1.jpg' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/safari/slider2.jpg' %}" alt="slider2">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/safari/slider3.jpg' %}" alt="slider3">
                    </div>
                </div>
                 <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/safari/slider4.jpg' %}" alt="slider4">
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>
<div class="about-video">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="about-video-text">
                <h6>Safari Blue</h6>
                    <p class="nohyphen p3">Start the day with pickup from your hotel and transfer to the fishing village of Fumba, where a traditional sailing vessel known as a dhow waits for you. After meeting the friendly crew, you're whisked away into the dazzling aquamarine expanse of Menai Bay, the largest marine protected area in Zanzibar.
                        <br><br>
                        With the sun warming your shoulders and the ocean breeze tousling your hair, sit back and relax as your captain steers the boat past unpopulated islands and bright white sandbanks. Keep an eye out for bottlenose dolphins and humpback whales—known to frequent these waters—and pull on your snorkeling gear for a chance to discover the brilliant variety of tropical fish below the surface.
                        <br><br>
                        Just when you've worked up an appetite, head back to the boat to dig into a tasty lunch of fresh seafood. Round out your adventure with a ride in a traditional outrigger canoe known as a ngalawa, crafted from a single mango tree. Watch the fluid movements of the crew as they maneuver the boat, and even take a turn paddling yourself before boarding the dhow back to land.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                <div class="about-video-text">
                    <div class="selling">
                        <h6>Duration: 8 Hours</h6>
                        <p class="nohyphen p3">Starting time 08:30AM. Please let us know if you want to customize the timing of stone town tour according to your schedule.</p>
                    </div>
                    <div class="selling">
                        <h6>Meeting point</h6>
                        <p class="nohyphen p3">Our representative will meet you at the hotel lobby at the arranged time.
                        </p>
                    </div>

                    <div class="selling">
                        <h6>Departs from</h6>
                        <p class="nohyphen p3">Fumba Lodge, South-eastern Zanzibar
                        </p>
                    </div>

                    <div class="selling">
                        <h6>Live tour guide</h6>
                        <p class="nohyphen p3">We offer this tour in English, French, Spanish, and Italian.
                            <blockquote class="nohyphen">For any other nationalities please advise when sending your
                                inquiry so we can make an arrangement for you</blockquote>
                        </p>
                    </div>
                    <div class="selling">
                        <h6>COVID-19</h6>
                        <p class="nohyphen p3">We are following the necessary safety measures as advised to all tour operators by WTTC for our clients’ comfort and ours as well.
                            <br>
                            Face masks are required especially at check-in
                            </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'pages/cta.html' %}


{% endblock content %}
