{% extends 'pages/base.html' %}
{% load static %}


{% block content %}
<div class="trails-breadcrumb">
    <div class="breadcrumb-bg-spice"></div>
    <div class="breadcrumb-style-4 margin-top-30">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Spice Tour</h1>
            <ul class="page-list">
                <li><a href="/">Home</a></li>
                <li><a href="#">Spice Tour</a></li>
            </ul>
        </div>
    </div>
    <div class="page-content container">The Spice Tour is one of the most popular excursions in Zanzibar. Zanzibar was one of the world’s leading producers of spices such as clove, nutmeg and cinnamon. Spice tour takes you to an organic farm with a wide variety of plants around the year.</div>
</div>

<div class="margin-top-70 margin-bottom-70">
    <div class="container trail-container">
        <div class="row">
            <div class="trail-slider">
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/spice/1.jpg' %}" alt="slider1">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/spice/10.jpg' %}" alt="slider2">
                    </div>
                </div>
                <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/spice/6.jpg' %}" alt="slider1">
                    </div>
                </div>
                 <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/spice/2.jpg' %}" alt="slider4">
                    </div>
                </div>
                 <div class="slider-item">
                    <div class="img-part">
                        <img src="{% static 'assets/img/spice/9.jpg' %}" alt="slider4">
                    </div>
                </div>

            </div>
    </div>
    </div>
</div>
<div class="about-video">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="about-video-text">
                    <h6>Spice Tour</h6>
                    <p class="nohyphen p3">Three hours tour through the spice farm plantation. This involves visiting the spices growing areas to see different spices and to learn their nature, uses and taste some of them right on the spot depending on the season where some are used medicinal, cosmetics, ornamental plants and herbs.
                        <br><br>
                        Cloves, nutmeg, rambutan, lipstick fruit, iodine plant, lemongrass, vanilla, henna, shampoo plant etc. Our spice tour offers you the opportunity to indulge your senses with a kaleidoscope of smells, tastes and textures. <br><br>
                        
                        From the punch of a chilli to the refreshing succulence of green coconut flesh, we promise that this tour will awaken your senses. It also provides you with the unique opportunity to purchase these exclusive spices straight from the source.</p>
                        <hr>
                        <h6>Useful Information</h6>
                        <p>You can choose the tour starting time, we usually recommend 9:00.
                            Take with you good walking shoes, cash if you wish to buy spices, oils and other products sold at the farm</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                <div class="about-video-text">
                    <div class="selling">
                        <h6>Duration: 4 Hours</h6>
                        <p class="nohyphen p3">
                            Starting time 9AM. Please let us know if you want to customize the timing of stone town tour according to your schedule
                        </p>
                    </div>
                    <div class="selling">
                        <h6>Meeting point</h6>
                        <p class="nohyphen p3">Our representative will meet you at the hotel lobby at the arranged time.</p>
                    </div>

                    <div class="selling">
                        <h6>Live tour guide</h6>
                        <p class="nohyphen p3">We offer this tour in English, French, Spanish, and Italian.
                            <blockquote class="nohyphen">For any other nationalities please advise when sending your inquiry so we can make an arrangement for you</blockquote>
                        </p>
                    </div>
                    <div class="selling">
                        <h6>COVID-19</h6>
                        <p class="nohyphen p3">We are following the necessary safety measures as advised to all tour 
                            operators by WTTC for our clients’ comfort and ours as well. Face masks are required, please bring your own.</p>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'pages/cta.html' %}
{% endblock content %}
