{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- navbar area end -->

    <!-- breadcrumb area start -->
    <div class="breadcrumb-area style-two jarallax" style="background-image:url({% static 'assets/img/bg/1.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner">
                        <h1 class="page-title">Stone Town</h1>
                        <ul class="page-list">
                            <li><a href="{% url 'homepage' %}">Home</a></li>
                            <li>Excursion</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area End -->

    <!-- destinations-details-page start -->
    <div class="destinations-details-page mg-top-100">
        <div class="container">
            <div class="row destinations-details-location-name">
                <div class="col-lg-12">
                    <h3>Stone Town</h3>
                </div>
                <div class="col-lg-6">
                    <p>
                        Get to know Zanzibar's diverse cultural fabric among the 19th-century buildings of Stone Town, the island's UNESCO World Heritage Site. As you visit landmarks such as the House of Wonders, the Sultan's Palace, and the Darajani Market, discover how the city reflects a rich mix of global influences.
                        <br><br>
Set out with your guide from your hotel and travel into the heart of Stone Town, the oldest section of Zanzibar City. As you navigate your way through winding streets marked by buildings with elaborately carved doors and elegant verandas, learn how Arab, Indian, Persian, and European influences have blended with local Swahili traditions to shape the city's architecture and history.
Survey the hustle and bustle of the Darajani Market, which retains the lively atmosphere of the bazaars that took place on the island for centuries. Then, discover a dark reminder of the city's past as you step into former slave chambers, <br><br>
which stand as the sole remnant of what was once a slave market.
Next, delve into the history of the sultans who once ruled Zanzibar at the Sultan's Palace, which was built in the late 19th century. Next door lies the House of Wonders, a grandiose second palace that currently houses the National Museum of History and Culture. After browsing exhibits dedicated to Zanzibar's multicultural heritage, wrap up your tour with time for shopping before returning to your hotel.

                    </p>
                </div>
                <div class="col-lg-6">
                <div class="destinations-details-main-slider-wrap">
                        <div class="destinations-details-main-slider">
                            <div class="d-details-main-slider-item">
                                <img src="{% static 'assets/img/others/3.png' %}" alt="img">
                            </div>
                            <div class="d-details-main-slider-item">
                                <img src="{% static 'assets/img/others/2.png' %}" alt="img">
                            </div>
                            <div class="d-details-main-slider-item">
                                <img src="{% static 'assets/img/others/4.png' %}" alt="img">
                            </div>
                        </div>
                        <div class="destinations-details-main-slider-controls">
                            <div class="slider-nav tp-control-nav"></div>
                            <!--slider-nav-->
                            <div class="slider-extra tp-slider-extra">
                                <div class="text">
                                    <span class="first">01 </span>
                                    <span class="last">05</span>
                                </div>
                                <!--text-->
                                <div class="d-list-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <span class="slider__label sr-only"></span>
                                </div>
                            </div>
                            <!--slider-extra-->
                        </div>
                    </div></div>
            </div>
           </div>
    </div>

{% endblock content %}