@import url("https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap");
p{
    hyphens: none !important;
}
.banner-inner h1{
    color:#fff !important;
    text-shadow: 2px 1px 2px #000; 
}
.nohyphen{
    hyphens: none !important;
    color: #000;
}
.group{
    background-image: url('../img/bg/group.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100px;
}

.dark ul{
    color: #000;
}
.rolling-content ul{
    color:#000 !important;
}
.transfer{
  background: url(../img/transfer.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 600px;
}
.transfer-details{
  background: url(../img/transfer.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 600px;
}
.transfer .content{
    padding: 100px 0;
    color: #fff;
}
.transfer p{
    color: #fff;
}
.transfer h2{
    color:#ef4423;
}
.svg{
    stroke: #ef4423;
    height: 100px;
    width: 100px;
}
.group-header{
    font-size: 100px;
    font-weight: 900;
    font-family: 'Barlow', Helvetica, sans-serif;
    margin-top: -30px;
    margin-bottom: 70px;
    line-height: 90px;
}
.group-header span{
    color:#ef4423;;
}
.service-categories{
    padding-top: 3em;
    padding-bottom: 3em;
  }
  /*DEMO ONLY*/
  .service-categories .card{
    transition: all 0.2s;
  }
  .service-categories .card-title{
    padding-top: 0.5em;
  }
  .service-categories a:hover{
    text-decoration: none;
  }
  .service-card{
    background: rgba(15, 57, 75, 0.9);
    border: 0;
  }
  .service-card:hover{
    background: rgba(232, 70, 35, 1);
    border-right: 5px solid #1884bc;
    border-left: 5px solid #1884bc;
  }
  .card-block{
    padding: 40px;
  }
  .card-block img{
      padding-top: 15px;
      height: 70px;
      width: 100%;
  }
  .card-title{
    font-family: 'Barlow', Helvetica, sans-serif;
    color: #fff;
    font-weight: 600;
  }
  .mg-top-96{
    margin-top: 96px;
  }

  .planning{
    margin:0,50;
    background: rgb(33,33,150);
    background: linear-gradient(153deg, rgba(33,33,150,1) 0%, rgba(0,212,255,1) 100%);
  }
  .mg-96{
    padding: 96px 0;
  }
  .card-block .fa{
    font-size: 100px;
    text-align: center;
  }
  .card-block i{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }

  #sticky{
    overflow: hidden;
    background-color: #333;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }


  /* we start here */

  
  .sectionClass {
    padding: 20px 0px 50px 0px;
    position: relative;
    display: block;
  }
  
  .fullWidth {
    width: 100% !important;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 100%;
    position: relative;
  }
  
  
  .sectiontitle {
    background-position: center;
    margin: 30px 0 0px;
    text-align: center;
    min-height: 20px;
  }
  
  .sectiontitle h2 {
    font-size: 30px;
    color: #222;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  
  .headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #101F2E;
  }
  
  
  .projectFactsWrap{
      display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  
  #projectFacts .fullWidth{
    padding: 0;
  }
  
  .projectFactsWrap .item{
    width: 25%;
    height: 100%;
    padding: 50px 0px;
    text-align: center;
  }
  
  .projectFactsWrap .item:nth-child(1){
    background: rgb(16, 31, 46);
  }
  
  .projectFactsWrap .item:nth-child(2){
    background: rgb(18, 34, 51);
  }
  
  .projectFactsWrap .item:nth-child(3){
    background: rgb(21, 38, 56);
  }
  
  .projectFactsWrap .item:nth-child(4){
    background: rgb(23, 44, 66);
  }
  
  .projectFactsWrap .item p.number{
    font-size: 40px;
    padding: 0;
    font-weight: bold;
  }
  
  .projectFactsWrap .item p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin: 0;
    padding: 10px;
    font-family: 'Open Sans';
  }
  
  
  .projectFactsWrap .item span{
    width: 60px;
    background: rgba(255, 255, 255, 0.8);
    height: 2px;
    display: block;
    margin: 0 auto;
  }
  
  
  .projectFactsWrap .item i{
    vertical-align: middle;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
  }
  
  
  .projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
    color: white;
  }
  
  .projectFactsWrap .item:hover span{
    background: white;
  }
  
  @media (max-width: 786px){
    .projectFactsWrap .item {
       flex: 0 0 50%;
    }
  }
.gradient {
  display: block;
  font-weight: 900;
  font-family: 'Barlow', Helvetica, sans-serif;
  font-size: 3em;
  text-align: center;
  color: #fff;
  padding: 5rem 8rem;
  background: rgb(33,33,150);
  background: linear-gradient(153deg, rgba(33,33,150,1) 0%, rgba(0,212,255,1) 100%);
  position: relative;
  z-index: 1;
}


.gradient::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(33,33,150,1),
    rgba(0,212,255,1)
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.gradient:hover::before {
  opacity: 1;
}
.card-title{
  font-family:'Barlow', Helvetica, sans-serif;
  font-weight: 900;
}
.card-img-overlay {
  background-color: rgba(#000, 0.5);
}
.padding-15{
  padding:15px;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #1884bc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}
span {
    font-size: 70px;    
    position: relative;
    top: -5px;
}
.owl-nav button:focus {
    outline: none;
}

.custom-icon {
  font-size:4em;
  background:#fff;
  background:rgba(0,0,0,0.4);
  padding:30px;
  -webkit-border-radius:1100%;
  -moz-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;
  border:6px solid #ccc;
  color:#fff;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:60px;
  height:60px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
.custom-icon:hover {
  background:rgba(0,0,0,0.6);
}
.why-us{
  color: #1884bc;
}

.title{
  color: #1884bc;
  font-family:'Barlow', Helvetica, sans-serif; 
  font-weight: 900;
  margin-bottom: 96px;
}
.bolded{
  font-weight: 900;
}
.gradient a{
  color: #fff !important;
  border-color: #fff;
  border-radius: 4px;
}
.asteriskField{
  font-size: 18px;
  display: none;
}