{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- navbar area end -->

    <!-- breadcrumb area start -->
    <div class="breadcrumb-area style-two jarallax" style="background-image:url({% static 'assets/img/bg/1.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner">
                        <h1 class="page-title">Blog</h1>
                        <ul class="page-list">
                            <li><a href="{% url 'homepage' %}">Home</a></li>
                            <li>Blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area End -->

    <!-- blog area start -->
    <div class="blog-area pd-top-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row justify-content-center">    
                    {% for blog in blog %}
                        <div class="col-lg-6 col-md-6">
                            <div class="single-blog">
                                <div class="thumb">
                                    <img src="{{blog.cover.url}}" class="img-responsive" alt="blog">
                                    {% comment %} <a class="tag" href="#">Europe</a> {% endcomment %}
                                </div>
                                <div class="single-blog-details">
                                    <p class="date">19 September 2019</p>
                                    <h4 class="title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h4>
                                    <p class="content">{{ blog.content|truncatewords:20|safe }}</p>
                                    <a class="btn-read-more" href="{{ blog.get_absolute_url }}"><span>Read More<i class="la la-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                        {% comment %} pagination {% endcomment %}
                        <div class="col-lg-12  text-md-center text-left">
                            <div class="tp-pagination text-md-center text-left d-inline-block mt-4">
                                <ul>
                                    <li><a class="prev page-numbers" href="#"><i class="la la-long-arrow-left"></i></a></li>
                                    <li><span class="page-numbers">1</span></li>
                                    <li><span class="page-numbers current">2</span></li>
                                    <li><a class="page-numbers" href="#">3</a></li>
                                    <li><a class="page-numbers" href="#">4</a></li>
                                    <li><a class="next page-numbers" href="#"><i class="la la-long-arrow-right"></i></a></li>
                                </ul>                          
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <aside class="sidebar-area sidebar-area-4">
                        <div class="widget widget_search bg-none pd-none">
                            <form class="search-form">
                                <div class="form-group">
                                    <input type="text" placeholder="Search">
                                </div>
                                <button class="submit-btn" type="submit"><i class="ti-search"></i></button>
                            </form>
                        </div>
                        <div class="widget widget_categories">
                            <h2 class="widget-title">Category</h2>
                            <ul>
                                <li><a href="#">Software</a> 33</li>
                                <li><a href="#">App Landing</a> 81</li>
                                <li><a href="#">Saas Landing</a> 12</li>
                                <li><a href="#">Design Studio</a> 17</li>
                                <li><a href="#">Business Studio</a> 21</li>
                                <li><a href="#">Product Showcase</a> 62</li>
                            </ul>
                        </div>
                        <div class="widget widget-recent-post">
                            <h2 class="widget-title">Recent Post</h2>
                            <ul>
                                <li>
                                    <div class="media">
                                        <img src="assets/img/blog-details/12.png" alt="widget">
                                        <div class="media-body">
                                            <span class="post-date">20 July 2019</span>
                                            <h6 class="title"><a href="#">Duis neque vel elit pharetra vestibulu</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img src="assets/img/blog-details/13.png" alt="widget">
                                        <div class="media-body">
                                            <span class="post-date">21 July 2019</span>
                                            <h6 class="title"><a href="#">Praesent eu dolor eu orci vehicula</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img src="assets/img/blog-details/14.png" alt="widget">
                                        <div class="media-body">
                                            <span class="post-date">14 July 2019</span>
                                            <h6 class="title"><a href="#">Aenean non accumsan ante. Duis</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img src="assets/img/blog-details/15.png" alt="widget">
                                        <div class="media-body">
                                            <span class="post-date">20 July 2019</span>
                                            <h6 class="title"><a href="#">Pellentesque habitant morbi</a></h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="widget widget_tag_cloud">
                            <h2 class="widget-title">Tags</h2>
                            <div class="tagcloud">
                                <a href="#">Adbeger</a>
                                <a href="#">Religion</a>
                                <a href="#">Relax</a>
                                <a href="#">Nature</a>
                                <a href="#">Descover</a>
                            </div>
                        </div>
                        <div class="widget_ads">
                            <a href="#"><img class="w-100" src="assets/img/others/01.png" alt="img"></a>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- blog area End -->

{% endblock content %}